# 核心数据处理与量化库
akshare
pandas
numpy
pyqlib
xgboost

# 命令行工具与进度条
fire 
tqdm 
tabulate

# 网络请求与爬虫
requests
beautifulsoup4 

# 日志与配置
loguru 
PyYAML

# page生成
mkdocs
mkdocs-material
mkdocs-table-reader-plugin